yolov8l.pt
yolov8s.pt
yolov9c.pt
yolov9e.pt
yolov9m.pt
yolov10l.pt
yolov10m.pt
yolov10n.pt
yolov10s.pt
yolov10x.pt
AI Intern Video Tech Task.mp4
basic_function_output_video.mp4
extra_features_output_video.mp4
people_count.csv
cashier_monitoring.csv